<body style="background-color:#B2EBF2">
<div class="container">
  <div class="page-header">
    <h1>Projects</h1>
    <h4><span class="label label-primary">Project portfolio for existing projects.</span></h4>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td class="text-center"> 
          <%= link_to "Show", project_path(project), class: 'label label-primary'%>
          <%= link_to "Edit", edit_project_path(project), class: 'label label-success'%>
          <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'label label-danger' %>
          </td>
        </tr>
        
      <% end %>
      
    </tbody>
    
  </table>
  <div class="text-right">
      <%= link_to "Create New Project", new_project_path, class: 'btn btn-success btn-lg' %>
    </div>
</div>

</body>