<div class="container">
  <div class="page-header">
    <h1>Projects</h1>
    <h4><span class="label label-primary">Project portfolio for existing projects.</span></h4>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td class="text-center"> 
          <%= link_to "Show", project_path(project), class: 'label label-info'%>
          <%= link_to "Edit", edit_project_path(project), class: 'label label-success'%>
          <%= link_to "Delete", @project, method: :destroy, data: { confirm: "Are you sure?" }, class: 'label label-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>